* {
    box-sizing: border-box;
}

@font-face {
    font-family: atk;
    src: url("ttf/Atkinson-Hyperlegible.otf");
}

@font-face {
    font-family: kodemono;
    src: url("ttf/KodeMono.ttf");
}

@font-face {
    font-family: opensans;
    src: url("ttf/OpenSans.ttf");
}

/* .colores_python {
    background-color: #407eaf;
    background-color: #ffe468;
} */

html {
    color: white;
    background-color: black;
    font-family: opensans;
}

header {
    background-color: #5840afbb;
    padding: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    border-radius: 50px;
}

header > h1 {
    text-align: center;
    font-size: 36px;
}

nav {
    position: sticky;
    top: 0;
    display: block;
}

nav input[type="checkbox"] {
    display: none;
}

nav > label > img {
    width: 5%;
    display: none;
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    background-color: #ffe468;
    color: black;
    padding: 16px 20px;
    text-align: center;
    display: block;
    border: 1px solid #407eaf;
    font-size: 18px;
}

nav a:hover {
    text-decoration: none;
    font-size: 18px;
    background-color: #407eaf;
    text-align: center;
    color: whitesmoke;
    padding: 16px 20px;
    display: block;
    border: 1px solid #ffe468;
    transition: all linear 0.2s;
}

section {
    display: block;
    font-family: opensans;
    color: white;
    background-color: #5840afbb;
    width: 80%;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

section > div.cont {
    display: flex;
    row-gap: 10px;
    flex-flow: row wrap;
}

section > div.cont > div {
    flex: 1;
    padding: 10px;
}

section a {
    color: #ffdf4d;
    font-weight: bold;
}

section h2 {
    font-size: 36px;
}

section p {
    font-size: 18px;
    text-align: justify;
}

section .lado {
    display: inline-block;
}

section .code {
    font-family: kodemono;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

section > ul {
    display: inline-block;
    position: relative;
    width: 45%;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
}

section > .lado {
    display: inline-block;
    width: 54%;
}

section .atajos {
    font-family: kodemono;
}

section {
    margin-bottom: 80px;
}

section .sumario {
    border: 3px solid black;
    width: 40%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.sumario > h3 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    font-family: kodemono;
    background-color: rgb(32, 32, 32);
    padding: 20px;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 4px solid #00b7ff;
    color:#ffffff;
}

footer a {
    color: #00b7ff;
}

@media only screen and (max-width:1075px) {
    nav > ul {
        display: none;
        overflow: hidden;
        width: 100%;
    }
    nav > label.menu2 {
        display: inline;
        float: left;
    }
    nav > label.menu2 > img {
        display: inline-block;
    }
    nav > input[type="checkbox"]:checked ~ ul {
        display: block;
    }
    section {
        width: 100%;
    }
}